{% extends "base.html.twig" %}
{% block title %}
    Zamzum video
{% endblock %}
{% block body %}
<form  method="get">
    <div class="input-group">
        <input type="text" name="form[search]" class="form-control border-0" placeholder="search For Something">
    </div>
</form>
    
<section class="py-4 mb-3">
        
        <div class="container">
            {# Latest Video upload icon #}
            <div class="row">
                <div class="col-md-3">

                </div>
            </div>
        </div>
</section>
{% endblock %}
