{% extends "base.html.twig" %}
{% block title %}
    Zamzum video
{% endblock %}
{% block body %}
<form action="{{ path('search') }}"  method="POST">
    <div class="input-group">
        <input type="text" name="form[search]" class="form-control border-0" placeholder="search For Something">
    </div>
</form>
    
<section class="py-4 mb-3">
        
        <div class="container">
            {# Latest Video upload icon #}
            <div class="row">
                {% for video in videos  %}
                    <div class="col-md-3">
                        <a href="{{ path("watch",{'video_id':video.videoFileName|split('.',2)|first}) }}">{{ video.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
</section>
{% endblock %}
