<nav class="navbar navbar-dark bg-primary navbar-expand-sm">
    <div class="container">
    <a href="{{ path('homepage') }}" class="navbar-brand">ZamZum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
        <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{{ path('login') }}" class="nav-link">SignIn</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('register') }}" class="nav-link">SignUp</a>
            </li>
                
        </ul>
    </div>
</div>
</nav>